#members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
  text-align: left;
}

#members a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 50em) {
  #members a {
    width: calc(25% - 6px);
  }
}

#members a:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
}

img {
  border: none;
  max-width: 100%;
  height: 150px;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

#members .p {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}